/* CSS Reset or Normalize (Optional, but recommended) */

/* Set a consistent box-sizing for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles from ul and ol elements */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Basic Body Styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Media Queries for Responsive Design */
/* Very Small Mobile Phones (Portrait) */
@media (max-width: 320px) {
  @font-face {
    font-family: "PoppinsThin";
    src: url("./assets/fonts/Poppins-Thin.woff");
  }

  @font-face {
    font-family: "PoppinsLight";
    src: url("./assets/fonts/Poppins-Light.woff");
  }

  @font-face {
    font-family: "PoppinsReg";
    src: url("./assets/fonts/Poppins-Regular.woff");
  }

  @font-face {
    font-family: "PoppinsMedium";
    src: url("./assets/fonts/Poppins-Medium.woff");
  }

  @font-face {
    font-family: "PoppinsSemiBold";
    src: url("./assets/fonts/Poppins-SemiBold.woff");
  }

  @font-face {
    font-family: "PoppinsBold";
    src: url("./assets/fonts/Poppins-Bold.woff");
  }

  @font-face {
    font-family: "PoppinsBlack";
    src: url("./assets/fonts/Poppins-Black.woff");
  }

  @font-face {
    font-family: "CookieReg";
    src: url("./assets//fonts/Cookie-Regular.woff");
  }

  /* Adjust margins or padding for a more compact layout */
  #container {
    margin: 5px;
    display: grid;
    grid-template-rows: 126px 1fr;
    grid-template-areas:
      "nav"
      "main";
  }

  body {
    font-size: 13px;
    background-image: url("./assets/pastel-background-2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
  }

  #mobileNavBar {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title menu"
      ". menu";
    padding: 3px;
    grid-area: nav;
    /* position: sticky; */
    top: 0px;
    width: 100%;
    position: fixed;
  }

  #menuButton {
    grid-area: menu;
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: transparent;
  }

  #burgerMenu {
    display: grid;
    padding-bottom: 5px;
  }

  .burger {
    width: 25px;
  }

  .close {
    width: 15px;
  }

  #myName {
    grid-area: title;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    font-size: 20px;
    font-family: "PoppinsBold";
    color: white;
    text-shadow: 0.5px 0.5px 1px #333;
  }

  #menuOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .menuButtons {
    display: none;
    border-style: none;
    padding: 0px;
    background-color: transparent;
    font-family: "PoppinsSemiBold";
    font-size: 13px;
    color: white;
    text-shadow: 0.5px 0.5px 1px #333;
  }

  .menuButtons:hover,
  .menuButtons:active {
    color: #333;
    text-shadow: none;
  }

  #mobileMainContent {
    padding-left: 3px;
    overflow: scroll;
    grid-area: main;
    display: flex;
    flex-direction: column;
  }

  #mainContentHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
  }

  #profilePic {
    width: 285px;
    grid-area: pic;
    align-content: center;
    border-radius: 5px;
  }

  #homeName {
    margin: 0px;
    padding-left: 5px;
    font-family: "PoppinsMedium";
  }

  #homeJob {
    margin: 0px;
    font-family: "PoppinsReg";
  }

  .sectionTitle {
    font-family: "PoppinsMedium";
    margin: 0px;
    padding-bottom: 10px;
  }

  #mainContentAbout {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
  }

  #aboutTextPara {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  .aboutText {
    font-family: "PoppinsReg";
    margin: 0px;
    padding-bottom: 10px;
  }

  #aboutLogoIcons {
    display: grid;
    padding-top: 15px;
    grid-template-columns: repeat(8, 36.5px);
    grid-template-rows: min-content 18px;
    grid-template-areas:
      "htmlLogo cssLogo jsLogo reactLogo nodeLogo webpackLogo jestLogo npmLogo"
      "htmlText cssText jsText reactText nodeText webpackText jestText npmText";
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 2px;
  }

  .languageLogos {
    width: 25px;
  }

  .languageNames {
    font-size: 8px;
    font-family: "PoppinsReg";
  }

  #htmlLogo {
    grid-area: htmlLogo;
  }

  #htmlText {
    grid-area: htmlText;
  }

  #cssLogo {
    grid-area: cssLogo;
  }

  #cssText {
    grid-area: cssText;
  }

  #jsLogo {
    grid-area: jsLogo;
  }

  #jsText {
    grid-area: jsText;
  }

  #reactLogo {
    grid-area: reactLogo;
  }

  #reactText {
    grid-area: reactText;
  }

  #nodeLogo {
    grid-area: nodeLogo;
  }

  #nodeText {
    grid-area: nodeText;
  }

  #webpackLogo {
    grid-area: webpackLogo;
  }

  #webpackText {
    grid-area: webpackText;
  }

  #jestLogo {
    grid-area: jestLogo;
  }

  #jestText {
    grid-area: jestText;
  }

  #npmLogo {
    grid-area: npmLogo;
  }

  #npmText {
    grid-area: npmText;
  }

  #mainContentProjects {
    padding-bottom: 120px;
  }

  #homeProjects {
    padding-bottom: 30px;
  }

  .screenshot {
    width: 250px;
    height: auto;
    border-radius: 5px;
  }

  .projects {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .titles {
    margin: 0px;
    padding-left: 2px;
  }

  .descriptions {
    margin: 0px;
    font-size: 10px;
    padding-bottom: 5px;
    padding-left: 2px;
  }

  .projectButtons {
    padding-bottom: 20px;
    display: flex;
    gap: 10px;
    padding-left: 2px;
  }

  .linkButtons {
    border-radius: 12px;
    font-family: "PoppinsMedium";
    font-size: 8px;
    border: 0.5px solid #333;
    background-color: #9595df;
    color: white;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .contactLogos {
    width: 30px;
  }

  #linkedIn {
    opacity: 80%;
  }
}

/* Regular Mobile Phones (Portrait) */
@media (min-width: 321px) and (max-width: 767px) {
  /* Styles for regular mobile phones go here */

  /* Adjust margins or padding for a more compact layout */
  #container {
    margin: 10px;
  }
}

/* Tablets and Small Laptops (Portrait and Landscape) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets and small laptops go here */

  #container {
    margin: 20px;
  }

  /* You can modify the layout of elements for tablets */
  .sidebar {
    display: block; /* Display the sidebar as a block on larger screens */
    width: 30%; /* Set a specific width for the sidebar */
    float: left; /* Float the sidebar to the left */
  }

  .main-content {
    width: 70%; /* Set a specific width for the main content area */
    float: right; /* Float the main content to the right */
  }

  /* You can also change font sizes or other styles for tablets */
  .section-title {
    font-size: 24px; /* Increase the font size for section titles */
  }
}

/* Standard Laptops and Desktops */
@media (min-width: 1024px) {
  /* Styles for laptops and desktops go here */

  .container {
    max-width: 960px; /* Set a maximum width for the container on larger screens */
    margin: 0 auto; /* Center the container horizontally */
  }

  /* You can further adjust the layout for larger screens */
  .sidebar {
    width: 25%; /* Set a specific width for the sidebar */
    float: left;
  }

  .main-content {
    width: 75%; /* Set a specific width for the main content area */
    float: right;
  }

  /* You may want to revert or adjust font sizes for desktops */
  .section-title {
    font-size: 28px; /* Increase the font size for section titles */
  }
}
